body {
	background-color: black;
	overflow-y: hidden;
}
p {
	color: darkgrey;
	margin-right: 20px;
	font-size: 2vw;	
}
img {
	padding: 5px;
/*	background-color: aquamarine;*/
	width: 7vw;
}
.btnCommand {
	border: 5px inset darkred;
	border-radius: 40vw;
	background-color: darkblue;
	padding: 2vh;
	width: 7vw;
	height: 7vw;
	margin-right: 20px;
	color: darkcyan;	
	font-weight: bolder;
	font-size: 3vw;
}

#score {
	border: 2px dashed darkslateblue;
	border-color: dark;
	color: darkgoldenrod;
}

#containerOne {
/*	border: 2px solid white;*/
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 95vw; 
	height: 35vh;
}

	#buttonContainer {
/*		border: 2px solid yellow;*/
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
		height: 15vh;
		width: 90vw;
	}

	#howManyContainer {
/*		border: 3px solid green;*/
		display: flex;
		flex-flow: row;
		height: 15vh;
		width: 90vw;
	}

		#howManyNumbers {
/*			border: 2px solid red;*/
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;
		}

		#howManySeconds {
/*			border: 2px solid red;*/
			display: flex;
			flex-flow: row;
			justify-content: center;
			align-items: center;
		}


#containerTwo {
/*	border: 2px solid green;*/
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 95vw;
	height: 60vh;
}


	#countDown {
/*		border: 2px solid green;*/
		margin-top: 2vh;
		color: darkslateblue;
		font-size: 10vh;
		text-align: center;
		font-weight: bolder;
		margin-bottom: 10vh;
	}

	#displayNumbers {
/*		border: 2px solid white;*/
		display: flex;
		justify-content: center;
		align-items: center;	
		width: 90vw;
		height: 25vh;
	/*	background-color: lightgray;*/
		margin-left: auto;
		margin-right: auto;
	}
	
#numbers {
	opacity: 0;
/*	border: 2px solid darkgreen;*/
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	align-items: center;	
	width: 90vw;
	height: 30vh;
/*	background-color: lightgray;*/
	margin-left: auto;
	margin-right: auto;
}

#numbersA {
/*	border: 2px solid red;	*/
	display: flex;
	justify-content: space-between;
	width: 70vw;
}
#numbersB {
/*	border: 2px solid red;	*/
	display: flex;
	justify-content: space-between;
	width: 70vw;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
	border: 5px inset darkcyan;	
	border-radius: 40vw;
	background-color: darkblue;
	padding: 2vh;
	width: 5.5vw;
	height: 5.5vw;
	margin-right: 20px;
	color: darkslateblue;	
	font-weight: bolder;
	font-size: 3vw;
}

#one:active, #two:active, #three:active, #four:active, #five:active, 
#six:active, #seven:active, #eight:active, #nine:active, #zero:active {
	border: 5px outset darkblue;	
	background-color: darkcyan;
}

#canc {
	border: 5px inset darkcyan;	
	border-radius: 40vw;
	background-color: orange;
	padding: 2vh;
	width: 5.5vw;
	height: 5.5vw;
	margin-right: 20px;
	color: darkslateblue;	
	font-weight: bolder;
	font-size: 3vw;
}

#canc:active {
	border: 5px outset darkred;	
	background-color: darkblue;
}

#ok {
	border: 5px inset darkcyan;	
	border-radius: 40vw;
	background-color: green;
	padding: 2vh;
	width: 6vw;
	height: 6vw;
	margin-right: 20px;
	color: darkslateblue;	
	font-weight: bolder;
	font-size: 3vw;
}

#ok:active {
	border: 5px outset darkred;	
	background-color: darkblue;
}

